<div class="container mt-5">
    <div class="row">
        <div class="col-sm-4"></div>
        <div *ngIf="editForm.dirty" class="col-sm-8">
            <div class="alert alert-danger"><i class="fa fa-info-circle"></i> You made changes, <strong>Save It</strong> or any changes will be lost!</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img src="{{photoUrl}}" alt="{{user.knownAs}}" class="card-img-top img-thumbnail">
                <div class="card-body">
                    <div>
                        <strong>Location:</strong>
                        <p>{{user.city}}, {{user.country}}</p>
                    </div>
                    <div>
                        <strong>Age:</strong>
                        <p>{{user.age}}</p>
                    </div>
                    <div>
                        <strong>Last Active:</strong>
                        <p>{{user.lastActive}}</p>
                    </div>
                    <div>
                        <strong>Member since:</strong>
                        <p>{{user.created}}</p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex">
                        <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-danger btn-block">Save</button>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8" >
            <div class="tab-panel" >
                <tabset [justified]="true" >
                    <tab heading="Edit Profile">
                        <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()" >
                            <h4>Description</h4>
                            <textarea name="introduction" rows="6" class="form-control"
                                [(ngModel)]="user.introduction"></textarea>
                            <h4>Looking For</h4>
                            <textarea name="lookingFor" rows="6" class="form-control"
                                [(ngModel)]="user.lookingFor"></textarea>
                            <h4>Interests</h4>
                            <textarea name="interests" rows="6" class="form-control"
                                [(ngModel)]="user.interests"></textarea>
                            <div class="form-inline mt-4">
                                <label for="city">City: </label>
                                <input class="form-control" type="text" name="city" [(ngModel)]="user.city" />
                                <label class="ml-2" for="country">country: </label>
                                <input class="form-control" type="text" name="country" [(ngModel)]="user.country" />

                            </div>
                        </form>
                    </tab>
                    <tab heading="Edit Photo" >
                        <app-photo-editor [photos]="user.photos" (mainPhotoChangedUrl)="updateMainPhoto($event)"></app-photo-editor>
                    </tab>

                </tabset>
            </div>

        </div>
    </div>
</div>
